@model Product

<div class="mx-auto">
	<div class="card mx-auto" style="width: 18rem;">
		<h1>@Model.Name</h1>  <br />
		@if (!string.IsNullOrEmpty(Model.ImageURL))
		{
			<img src="@Model.ImageURL" alt="@Model.Name" class="card-img-top img-fluid" style="width: 400px; height: 400px; object-fit: cover" />
		}
		else
		{
			<div class="card-img-top text-center p-3 bg-light">
				<span>No Image</span>
			</div>
		}
		<div class="card-body">
			<h5 class="card-title">@Model.Name</h5>
			<h6>Ticket Price: @Model.Price</h6>
			<p class="card-text">@Model.Description</p>
			<form action="@Url.Action("Delete", "Product")" method="post" style="display: inline">
				<input type="hidden" name="id" value="@Model.Id" />
				<button type="submit" class="btn btn-danger btn-sm">Delete Product</button>
			</form>

			<a href="@Url.Action("Edit", "Product", new { id = Model.Id })" class="btn btn-warning">Edit</a>

		</div>
	</div>
</div>

<a href="@Url.Action("Index", "Product")">Back To List</a>